<mat-card [ngClass]="status">
  <mat-card-header>
    <mat-card-title>
      <strong>{{installation.name}} </strong>
    </mat-card-title>
    <mat-card-subtitle>
      <a [href]="installation.url" target="_blank">{{installation.url}}</a>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-chip-list selectable="false">
    <mat-chip color="none" selected="true" ngClass="status">
      <a routerLink="/search" [queryParams]="{ version: installation.version }">
        {{installation.version || "N/A"}}
      </a>
    </mat-chip>
    <mat-chip *ngFor="let tag of installation.tags">
      <a routerLink="/search" [queryParams]="{ tags: tag }">
        {{tag}}
      </a>
    </mat-chip>

    <mat-chip *ngIf="installation.users">
      {{installation.users}} users
    </mat-chip>
  </mat-chip-list>

  <mat-card-actions>
    <a mat-button [href]="installation.url" target="_blank">
      <mat-icon>explore</mat-icon>
      VISIT WEBSITE
    </a>
    <a mat-button [href]="installation.repo" target="_blank" *ngIf="installation.repo">
      <mat-icon>code</mat-icon>
      VISIT REPO
    </a>
  </mat-card-actions>
</mat-card>
